*{
    margin: 0;
    padding: 0;
}
html,body {
	width: 100%;
	height: 100%;
}
body{
	background: #ECEFF1;
	margin-top: 20px;
}
nav{
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 30px;
    background-color: #ECEFF1;
}

nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
    float: left;
    text-shadow: 0 1px 0 white;
}
   

 
header{
    margin-bottom: 30px;
    background-color: #FF80AB;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
header h2 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    
}

article{
    text-align: center;
    background-color: #FCE4EC;
}

.skils{
    margin-top: 30px;
}

#formid{
    background-color: #FF80AB;
    border: 5px solid #E91E63;
    text-align: left;
}

footer{
    text-align: center;
    background-color: #212121;
    color: white;
}